*
  box-sizing border-box

body
  font-family $default
  -webkit-font-smoothing antialiased

img
  max-width 100%

p
  margin 1em
  line-height 1.6
  color $light-text
  font-size 1.3em
  margin 2em

// Layout
.row
  cf()


+above(48em)
  .small-only
    display none

  .large-only
    display inline-block





